.settings {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
  }
  
  .profile img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
  }
  
  .back-btn {
    margin-top: 20px;
    background-color: #f0f0f0;
    color: #000;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  